<div class="user-profile">
	<div class="col-md-3 col-sm-12 sidebar-fixed">
		<div class="profile-avatar"><%= image_tag @user.profile_pic, class:"profile-avatar-image" %>
		</div>
		<div class="profile-header-card">
			<h1 class="profile-header-card-name"><%= @user.user_name %></h1>
			<h2 class="profile-header-card-screen-name"><s>@</s><%= @user.screen_name %></h2>
			<p class="profile-header-card-bio"><%= @user.bio %></p>
			<div class="profile-header-card-location">
				<span class="icon fa fa-map-marker"></span>
				<span class="profile-header-card-location-text"><%= @user.city %></span>
			</div>
			<div class="profile-header-card-joined">
				<span class="icon fa fa-calendar"></span>
				<span class="profile-header-card-joined-text"><%= nairobi_time(@user.created_at).to_s(:long) %></span>
			</div>
			<div class="profile-header-card-gender">
				<%= gender_icon(@user.gender) %>
				<span class="profile-header-card-gender-text"><%= I18n.t "#{@user.gender.downcase}" %></span>
			</div>
		</div>
	</div>
	<div class="col-md-10 pull-right col-sm-12">
		<div class="tweets">
			<!-- render compose tweet form -->
			<%= render partial: 'tweets/new', locals:{ user: @user } %>

			<!-- render list of user tweets -->
			<% @user.tweets.order(created_at: :desc).each do |tweet| %>
			<%= render partial: 'tweets/tweet', locals:{ tweet: tweet, index: true } %>
			<% end %>
		</div>
	</div>
</div>
